



header  {
  
  height: 97px;
  left: 36px;
  top: 32px;
  
  font-family: 'Abel';
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 92px;
  
  align-items: center;
  
  color: #222222;
  

}

main {
  /* text-align: center; */
}

.contact_main_ul li{
  list-style-type: none
}

.clients_main_ul li {
  list-style-type: none;
  display: inline-block;
  width: 200px;
}

.header  li {
  display: inline-block;
}

.header  a {
  color: black;
  text-decoration: none;
  margin: 44px;
}
.header li a :hover {
  text-decoration: underline;
}






.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}