
.picture{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.picture__info{
    display: grid;
    align-items: center;
    align-content: space-evenly;
}


.picture__img {
    height: 500px;
    width: 500px;
    background-color: chartreuse;
} 

@media  (max-width:800px) {
    .picture__img {
        height: 300px;
        width: 300px;
       
    } 

    
    .picture{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center
    }

}