{{define "about"}}
{{template "header"}}
<main class="main">
    <div class="main__content">
        <p>Serbian artist, I mainly work with gouache and oil paints. <br>
            Passionate about portraing feelings. I love paint people, architecture. Places the way they feel, but not
            look.<br>
            My art intends to represent anothey way of seeing world.</p>
        <br>
        <p>Graphic Design graduate. Royal College of Ar, London.</p>
    </div>
</main>

</body>

</html>
{{end}}