{{define "clients"}}
{{template "header"}}

<main class="main">
    <div class="main__content">

        <div class="cliens">

            <div class="clients__info">
                <p> I do what I love, so when the first buyer came to me and liked my work, I
                    was overjoyed.
                    It was 10 years ago. Since then, a lot has changed, I have changed, as well as my work.
                    My paintings ended up in private collections and galleries.
                    </br>
                    I am glad for every person and company, because through my work we are no longer strangers to
                    each other.</p>
            </div>

            <ul class="clients__list">
                <li class="clients__itm">Lorem, ipsum dolor.</li>
                <li class="clients__itm">Lorem, ipsum dolor.</li>
                <li class="clients__itm">Lorem, ipsum dolor.</li>
                <li class="clients__itm">Lorem, ipsum dolor.</li>
                <li class="clients__itm">Lorem, ipsum dolor.</li>
                <li class="clients__itm">Lorem, ipsum dolor.</li>
            </ul>

        </div>

    </div>

    <!-- <ul class="clients_main_ul">
        {{range.}}
        <li>{{.Name}}</li>
        {{else}}
        <li>no clients</li>
        {{end}}
    </ul> -->
</main>


</body>

</html>
{{end}}


<!-- <p> I do what I love, so when the first buyer came to me and liked my work, I
    was overjoyed.
    It was 10 years ago. Since then, a lot has changed, I have changed, as well as my work.
    Over the course of my career, I have been approached by over 200 customers.
    My paintings ended up in private collections, as well as in galleries, museums and just at houses.
    </br>
    I am glad for every person, every company, because through my work we are no longer strangers to
    each other.</p> -->