{{define "show_picture"}}
{{template "header"}}


<main class="main">
    <div class="main__content">
        <div class="picture">
            <div class="picture__img"></div>
            <div class="picture__info">
                <p class="picture__title">Name, year, material,size</p>
                <p class="picture__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                    repellendus libero tenetur itaque asperiores laboriosam. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Eius, dicta.</p>
            </div>
        </div>
    </div>
</main>


<!-- <div><img src="{{.Path.String}}" alt="painting {{.Name}}"></div>
<div>
    <div>{{.Name}}</div>
    <div>{{.Date.String}}</div>
    <div>{{.Material.String}}</div>
    <div>{{.Size.String}}</div>
    <div>{{.Description.String}}</div>
</div> -->

</body>

</html>
{{end}}