{{define "work"}}
{{template "header"}}

<!-- <title>{{.Title}}</title> -->
<main class="main">
    <div class="main__content">

<!--        <div class="work-block">-->
<!--            &lt;!&ndash; <img src="/image/1/Alexandr.jpeg"> &ndash;&gt;-->
<!--            <a href="series/1" class="work-block__img1"></a>-->
<!--            <a href="#" class="work-block__img2"></a>-->
<!--            <a href="#" class="work-block__img3"></a>-->
<!--            <a href="#" class="work-block__img4"></a>-->
<!--            <a href="#" class="work-block__img5"></a>-->
<!--            <a href="#" class="work-block__img6"></a>-->
<!--        </div>-->
<!--        <div class="work-block">-->
<!--            <div class="work-block__img1"></div>-->
<!--            <div class="work-block__img2"></div>-->
<!--            <div class="work-block__img3"></div>-->
<!--            <div class="work-block__img4"></div>-->
<!--            <div class="work-block__img5"></div>-->
<!--            <div class="work-block__img6"></div>-->
<!--        </div>-->

        <div class="work-block">
            {{range $key, $value:= .Items}}

                {{if eq (mod $key 6) 0}}
                <a href="series/{{$value.Series.ID}}" >
                    <div> {{$value.Series.Name}} </div>
                    <img class="work-block__img1" src="{{$value.Path}}">
                </a>
                {{else if eq (mod $key 6) 1}}

                <a href="series/{{$value.Series.ID}}" >
                    <div> {{$value.Series.Name}} </div>
                    <img class="work-block__img2" src="{{$value.Path}}">
                </a>
                {{else if eq (mod $key 6) 2}}

                <a href="series/{{$value.Series.ID}}" >
                    <div> {{$value.Series.Name}} </div>
                    <img class="work-block__img3" src="{{$value.Path}}">
                </a>
                {{else if eq (mod $key 6) 3}}

                <a href="series/{{$value.Series.ID}}" >
                    <div> {{$value.Series.Name}} </div>
                    <img class="work-block__img4" src="{{$value.Path}}">
                </a>
                {{else if eq (mod $key 6) 4}}

                <a href="series/{{$value.Series.ID}}" >
                    <div> {{$value.Series.Name}} </div>
                    <img class="work-block__img5" src="{{$value.Path}}">
                </a>
                {{else if eq (mod $key 6) 5}}

                <a href="series/{{$value.Series.ID}}" >
                    <div> {{$value.Series.Name}} </div>
                    <img class="work-block__img6" src="{{$value.Path}}">
                </a>
                {{end}}
                {{else}}
                <div><strong>no series</strong></div>
            {{end}}
        </div>
    </div>




</main>


</body>

</html>
{{end}}