{{define "admin_pictures"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../static/js/script.js"></script>
    <link rel="stylesheet" href="../../static/css/admin/edit.css">

</head>

<body>

    <div class="picture_table">
        <h2>Welcome to the pictures edit page</h2>

        <table>
            <thead>
                <th>ID</th>
                <th>NAME</th>
                <th>DESCRIPTION</th>
                <th>YEAR</th>
                <th><button onclick="openForm('add_p')">ADD PICTURE</button></th>
            </thead>
            {{range $key, $value:= .Items}}
            <tr>
                <td> {{$value.ID}} </td>
                <td> {{$value.Name}} </td>
                <td> {{$value.Description.String}} </td>
                <td> {{$value.Date.String}} </td>
                <td><button onclick="openForm('edit_p', '{{$value.ID}}','{{$value.Name}}','{{$value.Description.String}}','{{$value.Path.String}}','{{$value.Price.Float64}}','{{$value.Date.String}}','{{$value.Material.String}}','{{$value.Size.String}}')" >edit</button></td>
                <td><button onclick="openForm('delete_p', '{{$value.ID}}')">delete</button></td>
                {{else}}
                <td><strong>no pictures</strong></td>
            </tr>
            {{end}}
<!--            <tr>-->
<!--                <td> fg </td>-->
<!--                <td> fg</td>-->
<!--                <td> fg </td>-->
<!--                <td> fg </td>-->
<!--                <td><button onclick="openForm('edit_p', 1000)">edit</button></td>-->
<!--                <td><button onclick="openForm('delete_p', 1000)">delete</button></td>-->
<!--            </tr>-->
        </table>

    </div>

    <div class="open-popup" id="delete_p">
        <form action="" id="delete_picture">
            <input type="checkbox" id="picture_delete_accsept">
            <label for="picture_delete_accsept">I understand, that it would be deleted permanently</label>
            <!-- <input type="submit" value="SUBMIT"> -->
            <button type="submit"><a href="pictures/delete/">SUBMIT</a></button>

            <button onclick="closeForm('delete_p')">CANCEL</button>
        </form>
    </div>

    <div class="open-popup" id="edit_p">
        <form enctype="multipart/form-data" method="post" action="pictures/edit/" id="edit_picture" class="edit_picture_form">

            <div class="form-header"></div>

            <input  type="hidden" id="id" name="id">
            <input required type="text" id="name" size="40" placeholder="Name" name="edit_picture_name">
            <input  type="text" id="size" size="40" placeholder="Size" name="edit_picture_size">
<!--            <input type="text" id="series" size="40" placeholder="Series" name="edit_picture_series">-->

            <select id="series"  name="series">
                <option disabled>Choose series</option>
                <option value="s1" >s1</option>
                <option value="s1" >s2</option>
            </select>

            <input type="number" min="0"  id="price" size="40" placeholder="Price" name="edit_picture_prise">
            <input type="number" min="0" max="2022" id="year" size="40" placeholder="Year" name="edit_series_year">
            <input type="text" id="material" size="40" placeholder="Material" name="edit_picture_material">

            <input type="text" id="description" size="40" placeholder="Description" name="edit_picture_description">
            <input type="file" id="img" size="40" placeholder="Upload image" name="edit_picture_upload">

            <input type="submit" value="SUBMIT" />

            <button onclick="closeForm('edit_p')">CANCEL</button>

            <!-- <input type="submit" value="SUBMIT"> -->


        </form>
    </div>


    <div class="open-popup" id="add_p">
        <form enctype="multipart/form-data" method="post" action="pictures/add" id="add_picture">

            <div class="form-header"></div>

            <input required type="text" size="40" placeholder="Name" name="add_picture_name">
            <input type="text" size="40" placeholder="Size" name="add_picture_size">
<!--            <input type="text" size="40" placeholder="Series" name="add_picture_series">-->
            <select  name="series">
                <option disabled>Choose series</option>
                <option value="s1" >s1</option>
                <option value="s1" >s2</option>
            </select>

            <input type="number" min="0" size="40" placeholder="Price" name="add_picture_prise">
            <input type="number" max="2022"  min="0" size="40" placeholder="Year" name="add_series_year">
            <input type="text" size="40" placeholder="Material" name="add_picture_material">

            <input type="text" size="40" placeholder="Description" name="add_picture_description">
            <input required type="file" size="40" name="add_picture_upload">



            <input type="submit" value="SUBMIT">
            <button onclick="closeForm('add_p')">CANCEL</button>



        </form>
    </div>

</body>

</html>
{{end}}