{{define "admin"}}
{{template "header_admin"}}

    <!-- <div class="edit">
        <a class="edit__elem" href="admin/series">SERIES</a>
        <a class="edit__elem" href="admin/pictures">PICTURES</a>
    </div> -->


    <div class="edit">
        <div class="edit__itm">
            <a class="edit__elem" href="admin/series"></a>
            <h1 class="edit__title">SERIES</h1>

            
        </div>
        <div class="edit__itm">
            <a class="edit__elem" href="admin/pictures"></a>
            <h1 class="edit__title">PICTURES</h1>

        </div>


    </div>


</body>

</html>
{{end}}