{{define "admin_pictures"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="picture_table">
        <h2>Welcome to the pictures edit page</h2>

        <table>
            <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>YEAR</th>
            <th><button>ADD PICTURE</button></th>
            </thead>
            {{range $key, $value:= .Items}}
            <tr>
                <td> {{$value.ID}} </td>
                <td> {{$value.Name}} </td>
                <td> {{$value.Description.String}} </td>
                <td> {{$value.Date.String}} </td>
                <td><button >edit</button></td>
                <td><button onclick="openForm('{{$value.ID}}')">delete</button></td>
                {{else}}
                <td><strong>no pictures</strong></td>
            </tr>
            {{end}}

        </table>

    </div>

    <form action="" id="delete_picture_form">
        <input type="checkbox" id="picture_delete_accsept">
        <label for="picture_delete_accsept">I understand, that it would be deleted permanently</label>
        <input type="submit" value="SUBMIT">
        <button>CANCEL</button>
    </form>


    

    <form action="" id="edit_picture_form">

        <div class="form_header"></div>
        
        <input type="text" size="40" placeholder="Name" name="edit_picture_name">
        <input type="text" size="40" placeholder="Size" name="edit_picture_size">
        <input type="text" size="40" placeholder="Series" name="edit_picture_series">
        <input type="text" size="40" placeholder="Price" name="edit_picture_prise">
        <input type="text" size="40" placeholder="Year" name="edit_series_year">
        <input type="text" size="40" placeholder="Material" name="edit_picture_material">
        
        <input type="text" size="40" placeholder="Description" name="edit_picture_description">
        <input type="text" size="40" placeholder="Upload image" name="edit_picture_upload">

        </div>


        <button>CANCEL</button>
        <input type="submit" value="SUBMIT">


    </form>


    <form action="" id="add_picture_form">

        <div class="form_header"></div>
        
        <input type="text" size="40" placeholder="Name" name="add_picture_name">
        <input type="text" size="40" placeholder="Size" name="add_picture_size">
        <input type="text" size="40" placeholder="Series" name="add_picture_series">
        <input type="text" size="40" placeholder="Price" name="add_picture_prise">
        <input type="text" size="40" placeholder="Year" name="add_series_year">
        <input type="text" size="40" placeholder="Material" name="add_picture_material">
        
        <input type="text" size="40" placeholder="Description" name="add_picture_description">
        <input type="text" size="40" placeholder="Upload image" name="add_picture_upload">

        </div>


        <button>CANCEL</button>
        <input type="submit" value="SUBMIT">


    </form>


</body>
</html>
{{end}}