{{define "login"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/admin/login.css">
</head>
<body>

    <div class="conteiner">
        <h1>DARKO BRUZHUCH</h1>
        <div class="login">

            <form action="" class="login_form">
                <input type="text" placeholder="Username" name="username">
                <input type="text" placeholder="password" name="password">

                <input type="submit" value="Log in" name="login_buutton">
            </form>

        </div>
    </div>
  
</body>
</html>
{{end}}