{{define "login"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/admin/login.css">
</head>

<body>
    <div class="login-container">
        <h1 class="login-container__header">DARKO BRUZHUCH</h1>

        <div class="login-container__content">

            <form method="post" action="" class="login-form">
                <div class="login-form__filde">
                    <label for="username">Username</label>
                    <input type="text" name="username">
                </div>
                <div class="login-form__filde">
                    <label for="password">Password</label>
                    <input type="password" name="password">
                </div>

                <input type="submit" value="Log in" name="login_button">
            </form>

        </div>
    </div>

</body>

</html>
{{end}}