*{
  font-family: Abel, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}



.header__title{
  font-size: 72px;
   display: flex;
   align-items: center;
   padding-left: 10vh;
   padding-top: 25px;
}

.header a{
  text-decoration: none;
}
.header a:hover{
  color: #222222;
}
.header a:visited{
  color: #222222;
}


.edit-page{
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-rows: 150px 1fr;
}

.edit-page__title{
  
  height: 61px;
  font-size: 36px;
  line-height: 61px;
  color: #222222;
}


.table{
  border-collapse: collapse;
  font-size: 18px;
  width: 1020px;
}

.table thead tr{
  background-color: #F4F7FC;
  text-align: left;
  font-weight: bold;
  color: #606F89;
}

.table th, .table td{
  padding: 12px 15px;
}


.table tbody tr:nth-of-type(even){
  background-color: #F4F7FC
  ;
}



.edit-open-b{
  font-size: 18px;
  color: #7D90B2;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
}

.delete-open-b{
  color: #7D90B2;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  font-size: 18px;

}

.add-open-b {
  font-size: 18px;
  background-color: #577487;
  color: white;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
}


.btn-cell{
  background-color: #577487;

}








.open-popup{
  visibility: hidden; 
} 

.form-header {
  width: 100%;
  height: 85px;
  background-color: #1B4F72;
}

.delete-form {
  background-color: white;
}

.add-form {
  max-width: 1150px;
  background-color: white;
}
.edit-form {
  max-width: 1150px;
  background-color: white;

}

.add-form {
  max-width: 1150px;
  background-color: white;

}




