*{
  font-family: Abel, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}



.header__title{
  font-size: 48px;
   display: flex;
   align-items: center;
   padding-left: 10vh;
   padding-top: 25px;
}

.header a{
  text-decoration: none;
}
.header a:hover{
  color: #222222;
}
.header a:visited{
  color: #222222;
}


.edit-page{
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-rows: 150px 1fr;
}

.edit-page__title{
  
  height: 61px;
  font-size: 36px;
  line-height: 61px;
  color: #222222;
}


.table{
  border-collapse: collapse;
  font-size: 18px;
  width: 1020px;
}


.table-small{
  display: block;
  border-collapse: collapse;
  font-size: 18px;
  max-width: 400px;
  display: none;
}

.table thead tr{
  background-color: #F4F7FC;
  text-align: left;
  font-weight: bold;
  color: #606F89;
}

.table th, .table td{
  padding: 12px 15px;
}


.table tbody tr:nth-of-type(even){
  background-color: #F4F7FC
  ;
}



.edit-open-b{
  font-size: 18px;
  color: #7D90B2;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
}

.delete-open-b{
  color: #7D90B2;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  font-size: 18px;

}

.add-open-b {
  font-size: 18px;
  background-color: #577487;
  color: white;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
}


.btn-cell{
  background-color: #577487;

}








.open-popup{
  visibility: hidden; 
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.form-header {
  width: 100%;
  height: 80px;
  background-color: #577487;
}
.form-btn{
  width: 415px;
  height: 65.86px;
  background: #577487;
  border: none;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 24px;
  line-height: 46px;
  color: white;
}


.delete-form {
  height: 420px;
  width: 940px;
  background-color: white;
  color: #222222;

}
.small{
  height: 36px;
}
.delete-form__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 384px;
}
.delete-form label{
  font-size: 36px;
  line-height: 46px;
}
.delete-form a{
  color: white;
  text-decoration: none;
}
.delete-form a:visited{
  color: white;
  text-decoration: none;
}




.series-form {
  height: 700px;
  width: 1000px;
  background-color: white;
  color: #222222;
}
.series-form__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 640px; 
}
.series-form__name{
  width: 832px;
  height: 63px;
  background: #FFFFFF;
  border: 1px solid #222222;
  box-sizing: border-box;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 10px;
  padding-left: 1rem;
  font-size: 24px;
  line-height: 46px;
  color: #3A3434;
}
.series-form__desc{
  width: 832px;
  height: 203px;
  background: #FFFFFF;
  border: 1px solid #222222;
  box-sizing: border-box;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 10px;
  padding-left: 1rem;
  font-size:24px;
  line-height: 46px;
  color: #3A3434;
}




.picture-form {
  height: 740px;
  width: 1150px;
  background-color: white;
  color: #222222;
  display: flex;
  flex-direction: column;
}
.picture-form__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 640px; 
}
.picture-form__text-fildes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}
.picture-form__elem{
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}
.picture-form input[type=text],
.picture-form input[type=number]{
  width: 377px;
  height: 63px;
  background: #FFFFFF;
  border: 1px solid #222222;
  box-sizing: border-box;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 10px;
  padding-left: 1rem;
  font-size: 24px;
  line-height: 46px;
  color: #3A3434;
}
.picture-form input[type=file]{
  width: 377px;
  height: 63px;
  background: #FFFFFF;
  
  border-radius: 10px;
  padding-left: 1rem;
  font-size: 24px;
  line-height: 46px;
  color: #3A3434;
}
.picture-form textarea{
  width: 377px;
  height: 185.77px;
  background: #FFFFFF;
  border: 1px solid #222222;
  box-sizing: border-box;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 10px;
  padding-left: 1rem;
  font-size:24px;
  line-height: 46px;
  color: #3A3434;
}





@media  (max-width:800px) {
  .table{
    display: none;
  }
  .table-small{
    display: block;
  }

  .header__title{
    justify-content: center;
    padding-left: 0;
  }

  .edit-page__title{
    font-size: 24px;
    line-height: 46px;
  }




  .form-btn{
    width: 150px;
    height: 30px;
    font-size: 18px;
    line-height: 23px;
    
  }

  .picture-form, 
  .series-form,
  .delete-form{
    width: 400px;
  }
  .delete-form label{
    font-size: 18px;
    line-height: 23px;
  }
  .delete-form__content{
    padding: 0 1rem;
    text-align: center;
  }

  .picture-form textarea{
    width: 160px;
    font-size: 18px;
    height: 90px;
  }
  .picture-form input[type=text],
  .picture-form input[type=number]  {
    width: 160px;
    height: 30px;
    font-size: 18px;
  }

  .series-form__name{
    width: 320px;
    height: 30px;
    font-size: 18px;
    line-height: 23px;
    
  }
  .series-form__desc{
    width: 320px;
    height: 180px;
    font-size: 18px;
    line-height: 23px;
    
  }

  .picture-form input[type=file]{
    width: 200px;
    height: 30px;
    
    font-size: 18px;
    line-height: 23px;
    
  }

}