* {
    margin: 0;
    padding: 0;
    font-family: Abel;
    color: #222222;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
}

.login-container{

    display: grid;
    grid-template-columns: 2fr 3fr;
    min-height: 100vh;
}

.login-container__header{
    
    /* font-family: Abel; */
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height:  px;
    display: flex;
    align-items: center;
    margin-left: 76px;
    /* padding-b: 429.11px; */
}

.login-container__content {
    background-color: #577487;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    

}



.login-container__form{
    background-color: #C4C4C4;
    width: 510px;
    height: 300px;
    border-radius: 10px;
    
    /* margin: 0 auto; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.login-container input {
    width: 429px;
    height: 47.05px;
    background: #FFFFFF;
    border: 1px solid #222222;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 24px;
    border: none;
}

.login-container input[type=submit] {
    width: 199px;
    height: 44.28px;
    background: #0B0B12;
    
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
}

.filde{
    width: 428px;
    height: 21.22px;


    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    /* line-height: 24px; */
    
    align-items: center;

    color: #222222;
}


@media (max-width:425px) {

    .login-container{
        grid-template-columns: 1fr;
        grid-template-rows: 90px 1fr;
        
    }

    .login-container__header{
        height: 79px;
        font-size: 36px;
        padding-left: 0px;
        padding-top: 0px;
        display: flex;
        justify-content: center;
        margin-left: 0;

    }

    .login-container__content{
        width: 375px;
        margin: 0 auto;
        height: 375px;
        margin-top: 20%;
    }


    .login-container__form{
        width: 325px;
        height: 250px;
        align-items: center;
        
    }

    .filde {
        width: 325px;
        font-size: 18px;
        
    }

    .login-container input {
        width: 300px;
        height: 40px;

    }

    .login-container input[type=submit] {
        width: 200px;
        height: 40px;
        font-size: 18px;
    }

}