{{define "clients"}}
{{template "header"}}

    <main>
        <div>
            about our clients
fjkdlskdjfslkdaj;lsdkjfkdls;aldskjf jkfdl;saldkfja;ldkjf;laskdjflkdfj
 fjkdls;ldkfjkdls;aldkfj fjkdls;alsdkjf jfkdls;aldkfj fjkdls;asldkfj 
 jfkdls;alsdkjf jfkdl;salkdjf jfdkls;alsdkfj fjdksl;aldkfj ;alkdfj;a
  kfjkds;alsdkjf  jfkdls;alkdsjf  fjkdls;alkdjf jfdkls;alksj jk lf;dlskajd
   fjk lf;dslkajf sl;kdfj a;sldkfj jf jfkdls;alsdkjf jfdl
        </div>



        <ul class="clients_main_ul">  
            <li>Lian Viltani</li>
            <li>Lian Viltani</li>
            <li>Lian Viltani</li>
            <li>Lian Viltani</li>
            <li>Lian Viltani</li>
            <li>Lian Viltani</li>
        </ul>
    </main>
      

</body>
</html>
{{end}}