{{define "admin"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/edit.css" />
    <script src="../static/js/script.js"></script>
</head>
<body>
    <h1>DARKO BRUZHUCH</h1>
    <h2>Welcome to the edit page</h2>

    
    <button> <a href="admin/series">SERIES</a></button>
    <button ><a href="admin/pictures">PICTURES</a></button> 

    <!-- <form method="LINK" action="admin_series.html">
        <input type="submit" value="SERIES">
    </form>

    <form method="LINK" action="admin_pictures.html">
        <input type="submit" value="PICTURE">
    </form> -->
  

</body>
</html>
{{end}}